<% @page_title = "About Dana" %>
<% @page_description = "Learn more about Dana Spinola, and how she became a leader in the worlds of fashion, business, and philanthropy." %>

<h1><span>XOXO</span>, Dana</h1>
<div class="ab-sec bio">
	<div class="inside">
		<div class="text">
			<h3 class="as-title"><span class="norm">fab’rik</span> Founder & CVO</h3>
			<p>Born and raised by entrepreneurs, fab’rik Founder Dana Spinola has been taught from a young age that if you love what you do you will never work another day in your life. This mantra inspired her to leave Corporate America and open her first boutique in 2002. Since then, she has carried out her mission of High Style With Heart nationwide with over 40 locations and growing. As Chief Visionary Officer, Dana’s vision for her company is to make women feel beautiful inside and out, one piece of fabric at a time.</p>
		</div>

		<div class="image">
			<%= image_tag('dana-bio1.jpg', alt: "fab'rik founder, Dana Spinola, posing in her office", class: 'img-responsive') %>
		</div>
	</div>
</div>

<div class="ab-sec rec">
	<div class="inside">
		<div class="text">
			<h3 class="as-title">Author &amp; Speaker</h3>
			<p>Forbes called her “one of the five great American Entrepreneurs you haven’t heard of yet but should know” because of her dedication to not only building a growing fashion brand but for inspiring a culture of people to weave purpose into their companies and their life. Dana has taken this message not only onto the pages of her book, love what you do, but to stages across the country. She has been voted Business Person of the Year, Women Making a Mark, and has appeared in dozens of publications from Wall Street Journal to Elle.</p>
		</div>

		<div class="image">
			<%= image_tag('dana-bio7.jpg', alt: "Dana Spinola speaking at a fashion show", class: 'img-responsive') %>
		</div>
	</div>
</div>


<div class="ab-sec philanth">
	<div class="inside">
		<div class="text">
			<h3 class="as-title">Philanthropist</h3>
			<p>Dana has always believed that clothing has the ability to change lives. In 2009, she launched the brand's nonprofit, free fab’rik, which provides free shopping sprees for women in need. Each week the team and a group of volunteers bring racks of clothing into safe houses so the ladies can experience the thrill of boutique shopping, without the pressure of price tags. Dana’s mission is to remind them they are clothed in strength and dignity and can laugh without fear of the future. In 2011 Dana launched fab’rik’s in house clothing line, Asher, named after her daughter. While designing a clothing line has been one of her passions, the purpose behind the line is the real driving force. Proceeds of the line support the adoption process for children in Africa. Each store that carries Asher is matched with an Asher Baby to pray for, share their story and fund their needs until they find a forever home.</p>
			<%= link_to(image_tag('asher-lt.png', class: 'img-responsive logo inline ash', alt: 'Asher Collection logo'), asher_path, target: '_blank', class: 'logo-link') %>
			<%= link_to(image_tag('free-fabrik.png', class: 'img-responsive logo inline free', alt: "free fab'rik logo" ), ff_path, target: '_blank', class: 'logo-link') %>
		</div>

		<div class="image">
			<%= image_tag('africa.jpg', alt: "Dana Spinola with the Asher babies in Africa", class: 'img-responsive') %>
		</div>
	</div>
</div>

<div class="ab-sec message">
	<div class="inside">
		<div class="text">
			<h3 class="as-title">Mom &amp; Household CEO</h3>
			<p>While Dana sits at the head of a leading fashion franchise as well as a non-profit organization, her most rewarding job is being a wife and mom to her four children, two dogs and 20 chickens! She has three wild and adventurous boys, and a strong, fearless daughter, Asher, who they adopted from Ethiopia. When she is not busy speaking or running her company, she loves dance parties with her kids and sushi date nights with her husband. She learned the love of God on a trip to Haiti after the devastating earthquake and has been on a mission to share His love ever since. Her mission is to remind those people with broken dreams to dream big again… and has built her life around that.</p>
		</div>

		<div class="image">
			<%= image_tag('family.jpg', alt: "Dana Spinola and family at her book launch", class: 'img-responsive') %>
		</div>
	</div>
</div>

