<% @page_title = "Heart" %>
<% @page_description = "" %>

<div class="inside"><div class="title">
	<h1>High style with <span class="lspace">heart.</span></h1>
</div></div>

<div class="boxes">
		<div class="inside">
			<div class="fabrik">
				<div class="text">
					<%= image_tag('fabrik.png', alt: '', class: 'img-responsive logo fab') %>
					<div class="clearfix"></div>
					<p>
						“While fab’rik was born from a broken heart, it ended up being the thing that made my heart beat”. In 2001 after a break up with a long-term boyfriend, Dana asked herself the question, ‘what is my dream job’ then decided to chase it. After a year of writing a business plan, 14 banks saying no to a loan and a break in her first day of business, Dana opened her first boutique. With a mission to create a place where everyone could afford to feel beautiful, her concept was high style but without the high price tags. Her first store in Atlanta, GA soon became the go to spot to purchase your most complimented outfit and she realized she needed to grow that concept. She started franchising to allow other like-minded, big-hearted businesswomen to own their own fab’rik. Now with 40 locations and growing, fab’rik is well on its way to a becoming a household brand known for High Style with Heart. 
					</p>

					<%= link_to "Shop fab'rik", fab_path, target: '_blank', class: 'ds-link' %>
					<%= link_to "Own a fab'rik Store", 'https://fabrikstyle.com/pages/own-a-store', target: '_blank', class: 'ds-link alt' %>
				</div>

				<div class="image">
					<%= image_tag('heart-fab.jpg', alt: '', class: 'img-responsive') %>
				</div>
			</div>
			
			<div class="border-row"></div>

			<div class="freefab">
				<div class="text">
					<%= image_tag('free-fabrik.png', alt: '', class: 'img-responsive logo') %>
					<p>free fab'rik is a non-profit that hosts free shopping sprees for young ladies in need. Founded in 2009 by Dana Spinola, the mission is to restore strength, dignity, and hope to women who have lost theirs as a result of the terrible world of sex trafficking. We host weekly free shopping sprees at safe houses so the ladies can experience the thrill of boutique shopping, without the pressure of price tags. Women from all over volunteer to shop, pray and spend time getting to know these brave women’s stories. The goal is to remind them just how beautiful they are, and cheer them on as they embark on the next phase of their life. We end each spree with a fashion show and the runway is full of confidence and hope! All of our fab’rik locations have clothing bins where you can donate your gently loved clothing or come volunteer with us, it will be a night you won’t forget! </p>
					<%= link_to "Donate to free fab'rik", "http://www.freefabrik.org/donate/", target: '_blank', class: 'ds-link' %>
					<%= link_to "Learn More about free fab'rik", ff_path, target: '_blank', class: 'ds-link alt' %>
				</div>

				<div class="image"><%= image_tag('heart-ffx.jpg', alt: '', class: 'img-responsive') %></div>
			</div>
			
			<div class="border-row"></div>

			<div class="asher">
				<div class="text">
					<%= image_tag('asher.png', alt: '', class: 'img-responsive logo') %>
					<p>
						Asher is our in house designed clothing line and is the epitome of the fab’rik it girl style, effortless chic. While the designs are beautiful, the reason we design this collection is even more beautiful. On average, hundreds of babies are abandoned by their mothers each month in African hospitals, clinics, police stations and even outdoors and that breaks our heart. Proceeds from every Asher purchase help provide a loving home, basic needs, healthcare and educational fees for African children who have been abandoned. Each store that carries Asher is matched with an Asher Baby to pray for, share their story and fund their needs until they find a forever home. Over 50 of our Asher Babies now have forever homes and the numbers keep growing thanks to all of our customers loving the line!</p>

					<%= link_to "Meet the Asher Babies", 'https://shopasher.com/blogs/asher-babies', target: '_blank', class: 'ds-link' %>
					<%= link_to "Shop Asher Collection", 'https://fabrikstyle.com/collections/asher-collection', target: '_blank', class: 'ds-link alt' %>
				</div>

				<div class="image">
					<%= image_tag('asher-sec.png', alt: '', class: 'img-responsive') %>
				</div>
			</div>
		</div>
	</div>