<% @page_title = "Love What You Do" %>
<% @page_description = "Dana Spinola is a business woman, motivational speaker, philanthropist and mother who wants to help you create a life on fire. Dana’s message inspires groups to dream big and live life with meaning." %>

<div class="full open">
	<div class="inside lg">
		<%= image_tag('dana-hero.jpg', class: 'img-responsive', alt: "Dana Spinola, sitting on her desk in the fab'rik corporate office") %>
	</div>
</div>

<div class="color-text">
	<div class="inside med2-def">
		<h1 class="full-h1">
			<span class="color">Ignite your <span class="fancy">passion.</span></span><br class="mobile">
			<span class="color">Find your <span class="fancy">purpose.</span></span><br>
			<span class="color"> Live life with <span class="fancy">meaning.</span></span></h1>
		<!-- <h1 class="mobile-h1"><span>Ignite your passion.</span><br> <span>Find your purpose.</span><br><span> Live life with meaning.</span></h1> -->
	</div>
</div>

<div class="laysec2">
	<div class="inside lg">
		<%= link_to love_what_you_do_path, class: 'box two' do %>
			<%= image_tag('home-stack.jpg', class: 'img-responsive img-bg', alt: 'Dana Spinola, speaking to a crowd at her book launch'  ) %> 
			<h4>About <span class="norm">love what you do.</span></h4>
			<p>Are you ready to love what you do? This book is your guide to creating a life on fire filled with passion and purpose. Click here to get your hands on a copy and start the love what you do journey for yourself or with your team.  </p>
		<% end %>

		<%= link_to speaking_path, class: 'box one' do %>
			<%= image_tag('home-link2.jpg', class: 'img-responsive img-bg', alt: "Dana Spinola's book, love what you do.") %>  
			<h4>Speaking Engagements</h4>
			<p>From Keynote speeches at your conference, to fireside chats with your team, Dana’s message inspires groups to dream big and live life with meaning. Click here to look at past events and book Dana for your next event.</p>
		<% end %>
	</div>
</div>

<div class="insta">
	<div class="inside lg">
		<div class="tbox">
			<h4>Follow Me On Instagram</h4>
			<h5>@danaspinola</h5>
		</div>

		<script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script>
		<!-- LightWidget WIDGET sm space -->
		<!-- <iframe src="//lightwidget.com/widgets/31d1a20b17315de4a36bb121b8048ac6.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe> -->

		<!-- LightWidget WIDGET lg space-->
		<iframe src="//lightwidget.com/widgets/df568c51ac3f52d684ae4b8aacd74053.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="border:0;overflow:hidden;"></iframe>

	</div>
</div>