<% @page_title = "Love What You Do Book" %>
<% @page_description = "" %>

<div class="book">
	<!-- <div class="inside med2-def">
		<div class="book-header2">
			<div class="text">
				<h1>What you do is<br class="md-hide"> not your job title;<br> it's the good work you put into<br class="nn-hide"> this world.</h1>
				<span class="sign">- Dana Spinola</span>
			</div>
		</div>
	</div> -->
	<h1 class="norm"><span>love</span> what you do.</h1>

	<div class="inside med2-def">
		<div class="book-header3">
      <div class="image"><%= image_tag('dbook3.jpg', class: 'img-responsive', alt: '') %></div>

			<div class="open">	
				<p>For anyone asking the question: do you really love what you do, not just your job, but your whole life? Does it make you happy, proud, and serve those around you? In love what you do, Dana Spinola will help you create a plan for your life providing unaltered, focused, exhilarating clarity around your passion. After hundreds of coffee requests to meet and discuss this topic of getting unstuck in a life that lacks meaning or slowing down an overwhelmed and over scheduled life, Dana has put this onto paper to help guide you to loving what you do.</p>
			</div>
		</div>
	</div>


	<!-- <div class="purchase2">
		<div class="inside">
      <h2>love what you do.</h2>
      <h3>Order your copy today!</h3>
			<%= render 'book-options' %>
		</div>
	</div> -->

		<div class="btn-section">
			<div class="inside">
				<%= render 'book-options' %>
			</div>
		</div>

	<div class="overview">
		<div class="inside med">
			<div class="text">
				<h3 class="sec-title"><span class="norm">About love what you do.</span></h3>
				<p class="first">For anyone asking the question: do you really love what you do, not just your job, but your whole life? Does it make you happy, proud, and serve those around you? In love what you do, Dana Spinola will help you create a plan for your life providing unaltered, focused, exhilarating clarity around your passion - what makes your heart beat. She challenges you to define your purpose - what breaks your heart. She then thoughtfully helps you weave them together to create a life on fire infused with meaning. It's not selfish to do what we love with this one precious life, it's our responsibility.</p>

				<p>After hundreds of coffee requests to meet and discuss this topic of getting unstuck in a life that lacks meaning or slowing down an overwhelmed and over scheduled life, Dana has put this onto paper to help guide you to loving what you do, outside of simply a job title and focus on what you were specifically designed to do with your one precious life.</p>
			</div>

			<div class="image" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 5000;">
		    <ul class="uk-slideshow-items">
	        <li><%= image_tag('front-cover.jpg', class: 'img-responsive', alt: '') %></li>
	        <li><%= image_tag('back-cover.png', class: 'img-responsive', alt: '') %></li>
		    </ul>

		    <ul class="uk-slideshow-nav uk-dotnav"></ul>
		  </div>
		</div>
	</div>

  <!-- <div class="inside"><div class="border-row"></div></div> -->
	<div class="inside">
		<div class="rates">	
			<h3>For special rates for your organization, contact:<br>
				<a href="mailto:LWYD@fabrikstyle.com"> LWYD@fabrikstyle.com</a>
			</h3>
		</div>
	</div>

</div>


