<% @page_title = "Love What You Do Book" %>
<% @page_description = "" %>


<div class="book">
	<div class="inside med2-def">
		<div class="book-header2">
			<div class="text">
				<%= image_tag('quote1.png', alt: '', class: 'img-responsive quote1') %> 
				<h1>What you do is not your job title;<br> it's the good work you put into this world.</h1>
				<%= image_tag('quote2.png', alt: '', class: 'img-responsive quote2') %> 
			</div>

			<!-- <div class="image">
				<%= image_tag('dana-bio3.jpg', class: 'img-responsive', alt: '') %>
			</div> -->
		</div>
	</div>

	<div class="purchase2">
		<div class="inside">
      <h2>love what you do.</h2>
      <h3>Order your copy today!</h3>
			<!-- <h3>Purchase Now:</h3> -->
			<%= render 'book-options' %>
		</div>
	</div>

	<div class="bulk top-blk">
	  <div class="inside med">
	    <div class="image">
	      <%= image_tag('reader2.jpg', class: 'img-responsive img1', alt: '') %>
	      <%= image_tag('reader3.jpg', class: 'img-responsive img2', alt: '') %>
	    </div>  

	    <div class="text">
	      <!-- <h2 class="buy">love what you do.</h2>
	      <h1 class="buy">Order your copy today!</h1>
	      <= render 'book-options' %> -->
	      <!-- <div class="clearfix"></div> -->
	      <h4>Books retail for $22, but we also offer the group rates listed below for anyone interested in providing every member of their team with a gift that will inspire and refuel them. </h4>
	    </div>
	  </div>
	</div>

	<div class="purchase2">
	  <div class="inside">
	    <p class="book-pkgs"><span>Buy 50 books:</span><br> 10% off order</p>
	    <p class="book-pkgs"><span>Buy 100 books:</span><br> 20% off order</p>
	    <p class="book-pkgs"><span>Buy 250 books:</span><br> 30% off order</p>
	    <p class="book-pkgs"><span>Buy 1000 books:</span> <br>40% off order</p>
	  </div>
	</div>

	<div class="overview">
		<div class="inside med">
			<div class="text">
				<p>For anyone asking the question: do you really love what you do, not just your job, but your whole life? Does it make you happy, proud, and serve those around you? In love what you do, Dana Spinola will help you create a plan for your life providing unaltered, focused, exhilarating clarity around your passion - what makes your heart beat. She challenges you to define your purpose - what breaks your heart. She then thoughtfully helps you weave them together to create a life on fire infused with meaning. It's not selfish to do what we love with this one precious life, it's our responsibility.</p>

				<p>After hundreds of coffee requests to meet and discuss this topic of getting unstuck in a life that lacks meaning or slowing down an overwhelmed and over scheduled life, Dana has put this onto paper to help guide you to loving what you do, outside of simply a job title and focus on what you were specifically designed to do with your one precious life.</p>
			</div>

			<div class="image" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 5000;">
		    <ul class="uk-slideshow-items">
	        <li><%= image_tag('front-cover.jpg', class: 'img-responsive', alt: '') %></li>
	        <li><%= image_tag('back-cover.png', class: 'img-responsive', alt: '') %></li>
		    </ul>

		    <ul class="uk-slideshow-nav uk-dotnav"></ul>
		  </div>
		</div>
	</div>
</div>


