<% @page_title = "Love What You Do Book" %>
<% @page_description = "" %>


<div class="book lay2">
	<div class="inside med2">
		<div class="book-header2">
			<div class="text">
				<h2>Ignite your passion.<br><span style="margin-left: 25px;"></span> Find your purpose.<br>Live life with meaning.</h2>
				<h1 style="margin-top:-20px; text-transform: lowercase;margin-left: 25px;">love what you do.</h1>
			</div>

			<div class="image">
				<%= image_tag('dana-bio3.jpg', class: 'img-responsive', alt: '') %>
			</div>
		</div>
	</div>

	<div class="purchase2">
		<div class="inside">
			<h3>Purchase Options:</h3>
			<%= render 'book-options' %>
		</div>
	</div>

	<div class="overview">
		<div class="inside">
			<!-- <div class="image"><%= image_tag('back-cover.png', class: 'img-responsive', alt: '') %></div> -->

			<div class="image" tabindex="-1" uk-slideshow="autoplay: true; autoplay-interval: 5000;">
		    <ul class="uk-slideshow-items">
	        <li><%= image_tag('front-cover.jpg', class: 'img-responsive', alt: '') %></li>
	        <li><%= image_tag('back-cover.png', class: 'img-responsive', alt: '') %></li>
		    </ul>

		    <ul class="uk-slideshow-nav uk-dotnav"></ul>
		  </div>

			<div class="text">
				<p>FOR ANYONE ASKING THE QUESTION: DO YOU REALLY LOVE WHAT YOU DO, NOT JUST YOUR JOB, BUT YOUR WHOLE LIFE? DOES IT MAKE YOU HAPPY, PROUD, AND SERVE THOSE AROUND YOU? IN LOVE WHAT YOU DO, DANA SPINOLA WILL HELP YOU CREATE A PLAN FOR YOUR LIFE PROVIDING UNALTERED, FOCUSED, EXHILARATING CLARITY AROUND YOUR PASSION - WHAT MAKES YOUR HEART BEAT. SHE CHALLENGES YOU TO DEFINE YOUR PURPOSE - WHAT BREAKS YOUR HEART. SHE THEN THOUGHTFULLY HELPS YOU WEAVE THEM TOGETHER TO CREATE A LIFE ON FIRE INFUSED WITH MEANING. IT'S NOT SELFISH TO DO WHAT WE LOVE WITH THIS ONE PRECIOUS LIFE, IT'S OUR RESPONSIBILITY.</p>

				<p>AFTER HUNDREDS OF COFFEE REQUESTS TO MEET AND DISCUSS THIS TOPIC OF GETTING UNSTUCK IN A LIFE THAT LACKS MEANING OR SLOWING DOWN AN OVERWHELMED AND OVER SCHEDULED LIFE, DANA HAS PUT THIS ONTO PAPER TO HELP GUIDE YOU TO LOVING WHAT YOU DO, OUTSIDE OF SIMPLY A JOB TITLE AND FOCUS ON WHAT YOU WERE SPECIFICALLY DESIGNED TO DO WITH YOUR ONE PRECIOUS LIFE.</p>
			</div>
		</div>
	</div>
</div>


