<% @page_title = "Love What You Do Book" %>
<% @page_description = "" %>

<div class="book">
	<div class="inside med2-def"><div class="title"><h1>love what you do. THE BOOK</h1></div></div>

	<div class="inside med2-def">
		<div class="book-header3">
			<div class="image"><%= image_tag('dbook3.jpg', class: 'img-responsive', alt: '') %></div>

			<div class="open">	
				<h3 class="sec-title">So here's the deal...</h3>
				<p>I never set out to write a book. The plan was to build a business around doing something that I loved and I thought the world would love. As I grew fab’rik, I realized I was having more meetings around how to build a life that was filled with passion and that served a bigger purpose then I was about anything else. Coffee date after coffee date the question I watched so many struggle with was “Can you have both?” So because I was running out of time to schedule all of the meetings I wanted to have, I decided to write this book. While I don’t have it all figured out, I do see how God combined my love of clothing and my desire to help women dream again together to write an incredible story. My hope for this book is that it serves as a guide to remind you to dream big again for your life, lean into how you can make this world a better place and then weave those together to create a life you love. So join us in the #lovewhatyoudo movement alone or with a group and see how we can ignite a generation fueled by passion and filled with purpose. Are you in? </p>
			</div>
		</div>

		<div class="btn-section">
			<%= render 'book-options' %>
		</div>

		<div class="covers">
			<%= image_tag('front-coverbow.jpg', class: 'img-responsive front', alt: '') %>
			<%= image_tag('back-cover.png', class: 'img-responsive back', alt: '') %>
		</div>
	</div>

  <!-- <div class="inside"><div class="border-row"></div></div> -->
	<div class="rates">	
		<div class="inside med-def">
			<h3>All the love for</h3>
			<h4>#lovewhatyoudo</h4>
			<!-- <h4>For special rates for your organization, contact:<a href="mailto:LWYD@fabrikstyle.com"> LWYD@fabrikstyle.com</a></h4> -->

			<div uk-slider="autoplay:true;">
			    <div class="uk-position-relative">
			        <div class="uk-slider-container uk-light">
			            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
			                <li><%= image_tag('inf/influencer1.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer2.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer3.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer4.png', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer5.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer6.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer7.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer8.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer9.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer10.png', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer11.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer12.png', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer13.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer14.jpg', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer15.png', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer16.png', class: 'img-responsive', alt: '') %></li>
			                <li><%= image_tag('inf/influencer17.png', class: 'img-responsive', alt: '') %></li>
			            </ul>
			        </div>

			        <div class="uk-hidden@s uk-light">
			            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
			            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
			        </div>

			        <div class="uk-visible@s">
			            <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
			            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
			        </div>
			    </div>
			    <!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
			</div>
		</div>
	</div>

</div>


