<% @page_title = "Dana's Past Events" %>
<% @page_description = "" %>

<div class="event-lay">
	<div class="event-list">
		<div class="inside med-def">
			<div class="intro">
				<div class="title"><h1>Your <span class="lspace">front row</span> seat to past events.</h1></div>
				<!-- <h3>Take a closer look at Dana's previous speaking engagements from Keynotes for UGA’s 40 Under 40 Awards and Imagine If Conference to Fireside Chats with America’s Apparel Mart and Passion City Church.</h3> -->
			</div>
		</div>

		<div class="cat-sec">
			<div class="inside alt">
				<div class="cat key">
					<a href="/past-events#keynotes" class="link-title">Keynotes</a>
				</div>

				<div class="cat chat">
					<a href="/past-events#chats" class="link-title">Fireside Chats</a>
				</div>

				<div class="cat pods">
					<a href="/past-events#podcasts" class="link-title">Podcasts</a>
				</div>

				<div class="cat msg">
					<a href="/speaking-info" class="link-title">Messages</a>
				</div>
			</div>
		</div>

		<div class="inside med-def">
			<div id="keynotes" class="cat-list">
				<h3 class="sec-title">Keynotes</h3>

				<div class="event-hlf">
					<iframe src="https://www.youtube.com/embed/H3gJtV6Cy-0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<div class="textbox">
						<h4>Plywood Presents</h4>
						<p>Loving Disruption:How to weave heart into your passion</p>
					</div>
				</div>
					
				<div class="event-hlf">
					<iframe src="https://drive.google.com/file/d/17gbdCYUg52ZKprBNeSqf7m1-L71bSUWq/preview"></iframe>
					<div class="textbox">
						<h4>UGA 40 Under 40 Awards</h4>
						<p>Turning your dreams into reality</p>
					</div>
				</div>

				<div class="event-hlf">
					<div class="image"><%= image_tag('past/lwyd.jpg', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>LWYD Book Launch Fashion Show </h4>
						<p>The fab'rik Story from the runway</p>
					</div>
				</div>

				<div class="event-hlf">
					<iframe src="https://drive.google.com/file/d/1nCIhXMid3IAVCn7XAEvBMMPxK8lTLVR3/preview"></iframe>
					<div class="textbox">
						<h4>"Imagine If" Innovation Conference</h4>
						<p>Imagine if everyone in your company loved what they did, how successful would you be?</p>
					</div>
				</div>

				<div class="event-hlf">
					<div class="image"><%= image_tag('past/spanx.jpg', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>Spanx/fab’rik Fashion Show </h4>
						<p>Power Players Sara Blakely and Dana Spinola share vision for their brands</p>
					</div>
				</div>

				<div class="event-hlf">
					<div class="image"><%= image_tag('past/boosterthon.jpg', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>Boosterthon</h4>
						<p>How to go above and beyond for your customers.</p>
					</div>
				</div>

				<div class="event-hlf">
					<div class="image"><%= image_tag('past/fgi.jpg', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>Fashion Group International (FGI)</h4>
						<p>Growing a business: How to use failure as a motivator</p>
					</div>
				</div>

				<div class="event-hlf">
					<div class="image"><%= image_tag('past/nextf.jpg', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>NEXT</h4>
						<p>How to avoid burnout and reignite passion for your work</p>
					</div>
				</div>
			</div>
			<div class="border-row"></div>

			<div id="podcasts" class="cat-list pods">
				<h3 class="sec-title">Podcasts</h3>

				<%= link_to "https://careynieuwhof.com/episode208/", target: '_blank', class: 'event-thr' do %>
					<%= image_tag 'pod-carey.jpg', class: 'img-responsive', alt: '' %>
					<h4>Carey Nieuwhof Leadership Podcast</h4>
				<% end %>

				<%= link_to "https://www.imaginemorepodcast.com/episodes/dana-spinola", target: '_blank', class: 'event-thr' do %>
					<%= image_tag 'pod-imagine2.jpg', class: 'img-responsive', alt: '' %>
					<h4>Imagine More</h4>
				<% end %>


				<%= link_to "https://launchyouniversity.com/podcast/069-when-passion-and-heart-lead-the-way-dana-spinola-of-fabrik/", target: '_blank', class: 'event-thr' do %>
					<%= image_tag 'pod-launch.jpg', class: 'img-responsive', alt: '' %>
					<h4>Launch Youniversity</h4>
				<% end %>

				<%= link_to "https://businessradiox.com/podcast/ceoexclusive/fabrik/", target: '_blank', class: 'event-thr' do %>
					<%= image_tag 'pod-ceo2.jpg', class: 'img-responsive', alt: '' %>
					<h4>CEO Exclusive Radio</h4>
				<% end %>

				<%= link_to "https://simplecast.com/s/168bffc8 ", target: '_blank', class: 'event-thr' do %>
					<%= image_tag 'pod-lovework.png', class: 'img-responsive', alt: '' %>
					<h4>Love or Work</h4>
				<% end %>
			</div>
			<div class="border-row"></div>

			<div id="chats" class="cat-list">
				<h3 class="sec-title">Fireside Chats</h3>
				
				<div class="event-hlf">
					<div class="image"><%= image_tag('past/am-mart.jpg', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>Americasmart: Atlanta Apparel Market</h4>
						<p>Talking fashion trends with leading influencer Julia Engel </p>
					</div>
				</div>

				<div class="event-hlf">
					<div class="image"><= image_tag('past/', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>Passion City Church </h4>
						<p>The power of purpose</p>
					</div>
				</div>

				<div class="event-hlf">
					<div class="image"><%= image_tag('past/girl-gang.jpg', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>ATL Girl Gang</h4>
						<p>Dana sitting on a panel with leading business women sharing BTS of being a girl boss.  </p>
					</div>
				</div>

				<div class="event-hlf">
					<div class="image"><%= image_tag('past/gwinnett.jpg', class: 'img-responsive', alt: '') %></div>
					<div class="textbox">
						<h4>Gwinnett Church </h4>
						<p>Sat with Jeff Henderson to inspire their team around core values. </p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>