<% @page_title = "Dana's Past Events" %>
<% @page_description = "Take a closer look at Dana's previous speaking engagements, and get inspired to live with passion." %>

<div class="past-events archives-list">
	<div class="event-lay">
		<div class="event-list">
			<div class="inside med-def">
				<div class="intro">
					<div class="title"><h1>Your <span class="lspace">front row</span> seat to past events.</h1></div>
				</div>
			</div>

			<div class="cat-sec">
				<div class="inside alt">
					<div class="cat key">
						<a href="/past-events#keynotes" class="link-title">Keynotes</a>
					</div>

					<div class="cat chat">
						<a href="/past-events#chats" class="link-title">Fireside Chats</a>
					</div>

					<div class="cat pods">
						<a href="/past-events#podcasts" class="link-title">Podcasts</a>
					</div>

					<div class="cat msg">
						<a href="/messages" class="link-title">Messages</a>
					</div>
				</div>
			</div>

			<div class="inside med-def lists">
				<div id="keynotes" class="cat-list">
					<h3 class="sec-title">Keynotes</h3>

					<%# link & img(?) %>
				  <div id="el-69" class="event-hlf arc">
				    <%# <a href="https://vimeo.com/465077455/c6d39013da" target="_blank"> %>
				      <div class="image">
					  		<%= image_tag('past/summit.png', class: 'img-responsive', alt: "Stronger Business Summit") %>
				      </div>
				      <div class="textbox">
				        <h4>Stronger Business Summit</h4>
				        <p>Fast forward to 22:30 to hear Dana Spinola to speak to passion, purpose, and heart. Dana’s vision includes making women feel beautiful inside and out. She continues to give back while growing her fashion empire.</p>
				      </div>
				    <%# </a> %>
				  </div>

				  <div id="el-32" class="event-hlf arc">
				    <div class="image">
					  	<%= image_tag('past/spanx2019.jpg', class: 'img-responsive', alt: "Spanx/fab’rik Fashion Show 2019") %>
				    </div>
				    <div class="textbox">
				      <h4>Spanx/fab’rik Fashion Show 2019</h4>
				      <p>Sara Blakely and Dana Spinola host the annual fashion show to empower women and Dana launches the fab'rik curvy collection.</p>
				    </div>
				  </div>

				  <div id="el-33" class="event-hlf arc">
				    <div class="image">
					  	<%= image_tag('past/promax.jpg', class: 'img-responsive', alt: "2019 Promax Conference") %>
				    </div>
				    <div class="textbox">
				      <h4>2019 Promax Conference</h4>
				    </div>
				  </div>

				  <div id="el-37" class="event-hlf arc">
				    <iframe src="https://drive.google.com/file/d/17gbdCYUg52ZKprBNeSqf7m1-L71bSUWq/preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="uga"></iframe>
				    <div class="textbox">
				      <h4>UGA 40 Under 40 Awards</h4>
				      <p>Turning your dreams into reality</p>
				    </div>
				  </div>

				  <div id="el-36" class="event-hlf arc">
				    <iframe src="https://www.youtube.com/embed/H3gJtV6Cy-0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="plywood"></iframe>
				    <div class="textbox">
				      <h4>Plywood Presents</h4>
				      <p>Loving Disruption: How to weave heart into your passion</p>
				    </div>
				  </div>

				  <div id="el-35" class="event-hlf arc">
				    <iframe src="https://drive.google.com/file/d/1nCIhXMid3IAVCn7XAEvBMMPxK8lTLVR3/preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
				    <div class="textbox">
				      <h4>"Imagine If" Innovation Conference</h4>
				      <p>Imagine if everyone in your company loved what they did, how successful would you be?</p>
				    </div>
				  </div>

				  <div id="el-34" class="event-hlf arc">
				    <iframe src="https://player.vimeo.com/video/313245554?color=b51f24" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="lwyd"></iframe>
				    <div class="textbox">
				      <h4>LWYD Book Launch Fashion Show</h4>
				      <p>The fab'rik Story from the runway</p>
				    </div>
				  </div>

				  <div id="el-28" class="event-hlf arc">
				    <div class="image">
					  	<%= image_tag('past/boosterthon.jpg', class: 'img-responsive', alt: "Boosterthon") %>
				    </div>
				    <div class="textbox">
				      <h4>Boosterthon</h4>
				      <p>How to go above and beyond for your customers.</p>
				    </div>
				  </div>

				  <div id="el-31" class="event-hlf arc">
				    <div class="image">
					  	<%= image_tag('past/spanx.jpg', class: 'img-responsive', alt: "Spanx/fab’rik Fashion Show 2017") %>
				    </div>
				    <div class="textbox">
				      <h4>Spanx/fab’rik Fashion Show 2017</h4>
				      <p>Power Players Sara Blakely and Dana Spinola share vision for their brands</p>
				    </div>
				  </div>

				  <div id="el-30" class="event-hlf arc">
				    <div class="image">
					  	<%= image_tag('past/fgi.jpg', class: 'img-responsive', alt: "Fashion Group International (FGI)") %>
				    </div>
				    <div class="textbox">
				      <h4>Fashion Group International (FGI)</h4>
				      <p>Growing a business: How to use failure as a motivator</p>
				    </div>
				  </div>

				  <div id="el-27" class="event-hlf arc">
				    <div class="image">
					  	<%= image_tag('past/nextf.jpg', class: 'img-responsive', alt: "NEXT") %>
				    </div>
				    <div class="textbox">
				      <h4>NEXT</h4>
				      <p>How to avoid burnout and reignite passion for your work</p>
				    </div>
				  </div>

				  <div id="el-29" class="event-hlf arc">
				    <a href="https://orangeleaders.smugmug.com/Rethink-Leadership/ReThink-Leadership-2019/Wednesday/i-pK8zWV4/A" target="_blank">
				      <div class="image">
						  	<%= image_tag('past/rethink.png', class: 'img-responsive', alt: "Rethink Leadership Conference") %>
				      </div>
				      <div class="textbox">
				        <h4>Rethink Leadership Conference</h4>
				      </div>
				    </a>
				  </div>
				</div>
				<div class="border-row"></div>

				<div id="chats" class="cat-list">
					<h3 class="sec-title">Fireside Chats</h3>

					<div id="el-14" class="event-hlf arc">
					  <div class="image">
					  	<%= image_tag('past/lwl.jpg', class: 'img-responsive', alt: "Americasmart: Atlanta Apparel Market with Featured Influencer Landyn Hutchinson") %>
					  </div>
					  <div class="textbox">
					    <h4>Americasmart: Atlanta Apparel Market with Featured Influencer Landyn Hutchinson</h4>
					    <p>Talking building a brand both online and in brick-and-mortar, and the power of social media</p>
					  </div>
					</div>
					
					<div id="el-13" class="event-hlf arc">
					  <div class="image">
					  	<%= image_tag('past/bellOaks.jpg', class: 'img-responsive', alt: "Bell Oaks") %>
					  </div>
					  <div class="textbox">
					    <h4>Bell Oaks</h4>
					    <p>Influential Atlanta women gathered at Capital City to hear Dana's inspiring story.</p>
					  </div>
					</div>
					<div class="clearfix"></div>
					
					<div id="el-11" class="event-hlf arc">
					  <div class="image">
					  	<%= image_tag('past/press-sd.jpg', class: 'img-responsive', alt: "Passion City Church") %>
					  </div>
					  <div class="textbox">
					    <h4>Passion City Church</h4>
					    <p>The power of purpose</p>
					  </div>
					</div>
					
					<div id="el-12" class="event-hlf arc">
					  <div class="image">
					  	<%= image_tag('past/am-mart.jpg', class: 'img-responsive', alt: "Americasmart: Atlanta Apparel Market with Featured Influencer Julia Engel") %>
					  </div>
					  <div class="textbox">
					    <h4>Americasmart: Atlanta Apparel Market with Featured Influencer Julia Engel</h4>
					  </div>
					</div>
					<div class="clearfix"></div>
					
					<div id="el-10" class="event-hlf arc">
					  <div class="image">
					  	<%= image_tag('past/gwinnett.jpg', class: 'img-responsive', alt: "Gwinnett Church") %>
					  </div>
					  <div class="textbox">
					    <h4>Gwinnett Church</h4>
					    <p>Sat with Jeff Henderson to inspire their team around core values.</p>
					  </div>
					</div>
					
					<div id="el-2" class="event-hlf arc">
					  <div class="image">
					  	<%= image_tag('past/girl-gang.jpg', class: 'img-responsive', alt: "ATL Girl Gang") %>
					  </div>
					  <div class="textbox">
					    <h4>ATL Girl Gang</h4>
					    <p>Dana sitting on a panel with leading business women sharing BTS of being a girl boss.</p>
					  </div>
					</div>
				</div>
				<div class="border-row"></div>

				<div id="podcasts" class="cat-list pods">
					<h3 class="sec-title">Podcasts</h3>

					<div id="el-68" class="event-thr">
					  <a href="https://open.spotify.com/episode/0LGOEru0UNlc22TRyzJIsj?si=ehJqgIuWQhSDo03czB5fzw" target="_blank">
					  	<%= image_tag('pod-entAdv.png', class: 'img-responsive', alt: "The Entrepreneur Adventure") %>
					    <h4>The Entrepreneur Adventure</h4>
					  </a>
					</div>

					<div id="el-4" class="event-thr">
					  <a href="https://marriedpeople.org/mp-081/" target="_blank">
					  	<%= image_tag('pod-married.png', class: 'img-responsive', alt: "Married People") %>
					    <h4>Married People</h4>
					  </a>
					</div>

					<div id="el-5" class="event-thr">
					  <a href="https://theboutiquehub.com/boutiquechat210/" target="_blank">
					  	<%= image_tag('pod-bchat.jpg', class: 'img-responsive', alt: "The Boutique Hub") %>
					    <h4>The Boutique Hub </h4>
					  </a>
					</div>

					<div id="el-6" class="event-thr">
					  <a href="https://careynieuwhof.com/episode208/" target="_blank">
					  	<%= image_tag('pod-carey.jpg', class: 'img-responsive', alt: "Carey Nieuwhof Leadership Podcast") %>
					    <h4>Carey Nieuwhof Leadership Podcast</h4>
					  </a>
					</div>

					<%# NOTE: unsecured warning %>
					<div id="el-7" class="event-thr">
					  <a href="https://www.imaginemorepodcast.com/episodes/dana-spinola" target="_blank">
					  	<%= image_tag('pod-imagine2.jpg', class: 'img-responsive', alt: "Imagine More") %>
					    <h4>Imagine More</h4>
					  </a>
					</div>

					<%# NOTE: site down %>
					<div id="el-8" class="event-thr">
					  <a href="https://launchyouniversity.com/podcast/069-when-passion-and-heart-lead-the-way-dana-spinola-of-fabrik/" target="_blank">
					  	<%= image_tag('pod-launchx.jpg', class: 'img-responsive', alt: "Launch Youniversity") %>
					    <h4>Launch Youniversity</h4>
					  </a>
					</div>

					<div id="el-9" class="event-thr">
					  <a href="https://businessradiox.com/podcast/ceoexclusive/fabrik/" target="_blank">
					  	<%= image_tag('pod-ceo2.jpg', class: 'img-responsive', alt: "CEO Exclusive Radio") %>
					    <h4>CEO Exclusive Radio</h4>
					  </a>
					</div>
					
					<%# NOTE: 404 %>
					<div id="el-1" class="event-thr">
					  <a href="https://simplecast.com/s/168bffc8" target="_blank">
					  	<%= image_tag('pod-lovework.png', class: 'img-responsive', alt: "Love or Work") %>
					    <h4>Love or Work</h4>
					  </a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>