<% @page_title = "Dana's Past Events" %>
<% @page_description = "" %>

<div class="event-lay">
	<%= render 'shared/collage-hd' %>

	<div class="event-list">
		<div class="inside med-def">
			<div class="intro">
				<!-- <h3>Check out our collection of videos and podcasts from some of Dana's previous speaking engagements. 
					Are you interested in booking Dana for an upcoming event? <%= link_to "Click here", speaking_path, class: 'text-link' %> to provide us with a few details.
				</h3> -->

				<h1 class="text-center" style="margin-bottom: 5px;"><%= @page_title %></h1>
				<h3 style="margin-top: 0;">Dana is a leader, a business person, and a working mom. She speaks on business, faith, LWYD, and what breaks your heart. If you are interested in booking Dana to speak at an event or function, <%= link_to "click here", speaking_path, class: 'text-link' %> to provide us with a few details. </h3>
				<!-- Select a category from the list below to watch/listen to some of Dana's previous speaking engagements. -->
			</div>

			<div id="conferences" class="cat-list">
				<div class="border-row more"></div> 
				<h3 class="sec-title">Conferences</h3>

				<div class="event-hlf">
					<iframe src="https://www.youtube.com/embed/H3gJtV6Cy-0?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					<div class="textbox">
						<h4>Plywood Presents</h4>
						<p>This is a brief overview of this talk</p>
					</div>
				</div>
					
				<div class="event-hlf">
					<iframe src="https://drive.google.com/file/d/17gbdCYUg52ZKprBNeSqf7m1-L71bSUWq/preview"></iframe>
					<div class="textbox">
						<h4>UGA 40 Under 40</h4>
						<p>This is a brief overview of this talk</p>
					</div>
				</div>
			</div>
			<div class="border-row"></div>

			<div id="podcasts" class="cat-list">
				<h3 class="sec-title">Podcasts</h3>

				<%= link_to "Carey Nieuwhof Leadership Podcast", "https://careynieuwhof.com/episode208/", target: '_blank', class: 'event-fw' %>

				<%= link_to "Imagine More", "https://www.imaginemorepodcast.com/episodes/dana-spinola", target: '_blank', class: 'event-fw' %>

				<%= link_to "Launch Youniveristy", "https://launchyouniversity.com/podcast/069-when-passion-and-heart-lead-the-way-dana-spinola-of-fabrik/", target: '_blank', class: 'event-fw' %>

				<%= link_to "CEO Exclusive Radio", "https://businessradiox.com/podcast/ceoexclusive/fabrik/", target: '_blank', class: 'event-fw' %>

				<%= link_to "Love or Work", "https://simplecast.com/s/168bffc8 ", target: '_blank', class: 'event-fw' %>
			</div>
			<div class="border-row"></div>

			<div id="company" class="cat-list">
				<h3 class="sec-title">Company</h3>
				<!-- imagine if vid, boosterthon? -->
				<div class="event-fw">
					<iframe src="https://drive.google.com/file/d/1nCIhXMid3IAVCn7XAEvBMMPxK8lTLVR3/preview"></iframe>
					<div class="textbox">
						<h4>"Imagine If" Innovation Conference</h4>
						<p>This is a brief overview of this talk</p>
					</div>
				</div>
			</div>
			<div class="border-row"></div>

			<div id="organizations" class="cat-list">
				<h3 class="sec-title">Organizations</h3>
				<!-- fgi (don't have), fab'rik 2min conference vid (don't have) -->
				<!-- <p>Church, philanthropy, etc...</p> -->
			</div>
		</div>
	</div>
</div>


