<% @page_title = "Dana's Past Events" %>
<% @page_description = "" %>

<div class="event-lay">
	<div class="inside">
		<div class="ehead">
			<div class="inside">
				<h1><%= @page_title %></h1>
			</div>
		</div>
	</div>

	<div class="event-list past-events">
		<div class="inside med-def">
			<!-- <div class="image"><%= image_tag('video-shot.png', class: 'img-responsive', alt: '') %></div> -->

			<div class="list">
				<!-- <h4>Past Speaking Events </h4>
				<hr> -->
				<!-- <= link_to "AmericasMart: Featured Influencers Series ", "https://atlanta.daybooknetwork.com/story/2018-10-16/54954-october-2018-atlanta-apparel/", target: '_blank', class: 'event-fw' %> -->
					

				<div class="event-vid">
						<iframe src="https://www.youtube.com/embed/H3gJtV6Cy-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<%= link_to "Plywood Presents ", "https://www.youtube.com/watch?v=H3gJtV6Cy-0", target: '_blank', class: 'event-fw' %>
			</div>
					
				<div class="event-vid">
					<iframe src="https://drive.google.com/file/d/17gbdCYUg52ZKprBNeSqf7m1-L71bSUWq/preview"></iframe>
					<%= link_to "UGA 40 Under 40", "https://drive.google.com/file/d/17gbdCYUg52ZKprBNeSqf7m1-L71bSUWq/view", target: '_blank', class: 'event-fw' %>
				</div>
					

				<div class="event-vid">
					<iframe src="https://drive.google.com/file/d/1nCIhXMid3IAVCn7XAEvBMMPxK8lTLVR3/preview"></iframe>
					<%= link_to '"Imagine If" Innovation Conference', "https://drive.google.com/file/d/1nCIhXMid3IAVCn7XAEvBMMPxK8lTLVR3/view", target: '_blank', class: 'event-fw' %>
				</div>

				<!-- CARE for AIDS Matrix Residential INSPIRE Retreat -->

				<h4>Podcasts</h4>
				<hr>
					<%= link_to "Carey Nieuwhof Leadership Podcast", "https://careynieuwhof.com/episode208/", target: '_blank', class: 'event-fw' %>

					<%= link_to "Imagine More", "https://www.imaginemorepodcast.com/episodes/dana-spinola", target: '_blank', class: 'event-fw' %>

					<%= link_to "Launch Youniveristy", "https://launchyouniversity.com/podcast/069-when-passion-and-heart-lead-the-way-dana-spinola-of-fabrik/", target: '_blank', class: 'event-fw' %>

					<%= link_to "CEO Exclusive Radio", "http://www.ceoexclusiveinsights.com/fabrik/", target: '_blank', class: 'event-fw' %>

					<%= link_to "Love or Work", "https://simplecast.com/s/168bffc8 ", target: '_blank', class: 'event-fw' %>
			</div>
		</div>
	</div>
</div>