<% @page_title = "Press" %>
<% @page_description = "Take a look at some of the Dana Spinola's press coverage." %>

<!-- https://www.11alive.com/article/news/local/features/changing-lives-through-clothes-nonprofit-supports-women-in-need-with-free-shopping-sprees/85-592609812 -->

<div class="event-lay press">
	<div class="inside med2-def">
		<div class="title"><h1><span>Haute</span> off the Press.</h1></div>
		<div class="btn-side">
			<%= link_to "Feature Dana", feature_dana_path, class: 'ds-link' %>
		</div>
	</div>

	<div class="event-list">
		<div class="inside med-def">
			<div class="event-li article">
				<%= image_tag 'press-forbes1.jpg', class: 'img-responsive', alt: "Dana Spinola in her office - link to Forbes' Five Great American Entreprenuers" %>
				<div class="textbox">
					<p class="pub">Forbes</p>
					<h4>Five Great American Entreprenuers</h4>
					<p class="desc">Five Great American Entrepreneurs You Haven't Yet Heard Of But Should Know</p>
					<%= link_to "View Article", 'https://www.forbes.com/sites/robertreiss/2018/01/16/five-great-american-entrepreneurs-you-havent-yet-heard-of-but-should-know/#ce825a755d71', class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'press-cnn.png', class: 'img-responsive article-img', alt: 'Dana Spinola, covered by CNN' %>
				<div class="textbox">
					<p class="pub">CNN</p>
					<h4>The Power of an Outfit</h4>
					<p class="desc">Atlanta boutique owner invites girls in need into her boutique for free shopping sprees</p>
					<%= link_to "View Video", "https://www.youtube.com/watch?v=Zw8k2LMxYxw", class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'press-ef1.png', class: 'img-responsive article-img', alt: "fab'rik named Top 500 Franchises by Entreprenuer Magazine" %>
				<div class="textbox">
					<p class="pub">Entreprenuer Magazine</p>
					<h4>Top 500 Franchises</h4>
					<p class="desc">fab'rik named Top 500 Franchises</p>
					<%= link_to "View Article", "https://www.entrepreneur.com/franchises/fabrik/334105", class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'press-ajcx.jpg', class: 'img-responsive article-img', alt: "Dana Spinola, The fab'rik of Life from AJC" %>
				<div class="textbox">
					<p class="pub">AJC</p>
					<h4>The fab'rik of Life</h4>
					<p class="desc">The pitfalls of having it all and the power of living in the now</p>
					<%= link_to "View Article", "http://specials.myajc.com/fabrik/", class: 'text-link', target: '_blank' %>
					<%= link_to "View Video", "https://www.youtube.com/watch?v=Mh74JATSLD0", class: 'text-link dub', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'press-huff.jpg', class: 'img-responsive article-img', alt: 'Huffington Post features Dana Spinola' %>
				<div class="textbox">
					<p class="pub">Huffington Post</p>
					<h4>Paradigm Shifter</h4>
					<p class="desc">Dana Spinola shares the essence of fab'rik</p>
					<%= link_to "View Article", "https://www.huffingtonpost.com/renata-m-black/dana-spinola--the-essence_b_10324046.html", class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'press-forbesx.jpg', class: 'img-responsive article-img', alt: "Clothing rack from free fab'rik event" %>
				<div class="textbox">
					<p class="pub">Forbes</p>
					<h4>Fashion Fighting Sex Trafficking</h4>
					<p class="desc">How One Atlanta Boutique Is Using Fashion To Help Survivors Of Sex Trafficking</p>
					<%= link_to "View Article", "https://www.forbes.com/sites/toriutley/2018/01/30/how-one-atlanta-boutique-is-using-fashion-to-help-survivors-of-sex-trafficking/#173d2a1c4c2b", class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'press-chr.jpg', class: 'img-responsive article-img', alt: 'Dana Spinola, Business Person of the Year' %>
				<div class="textbox">
					<p class="pub">Atlanta Business Chronicle</p>
					<h4>Business Person of the Year</h4>
					<p class="desc">Fab'rik founder wins with the wow factor</p>
					<%= link_to "View Article", "https://www.bizjournals.com/bizwomen/news/profiles-strategies/2017/10/fabrik-founder-wins-with-the-wow-factor.html?page=all", class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'ml-jez.png', class: 'img-responsive article-img', alt: 'Modern Luxury article on Dana Spinola - Wonder Woman' %>
				<div class="textbox">
					<p class="pub">Modern Luxury</p>
					<h4>Wonder Woman</h4>
					<p class="desc">fab'rik's FAB leading lady</p>
					<%= link_to "View Article", 'https://digital.modernluxury.com/publication/?i=522504&ver=html5&p=60#{%22page%22:60,%22issue_id%22:522504}', class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'press-delta.png', class: 'img-responsive article-img', alt: 'Skypointe Magazine featuring Dana Spinola'  %>
				<div class="textbox">
					<p class="pub">Skypointe Magazine</p>
					<h4>Keeping Atlanta Fly</h4>
					<p class="desc">The Top Atlanta Influencers that keep the City Fly</p>
					<%= link_to "View Article", "https://www.atl.com/skypointemagazine/", class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<!-- KD Angelos -->
		
			<div class="event-li article">
				<%= image_tag 'press-atl.jpg', class: 'img-responsive article-img', alt: 'Dana Spinola, giving a message to a crowd' %>
				<div class="textbox">
					<p class="pub">Atlanta Magazine</p>
					<h4>Biz Whiz</h4>
					<p class="desc">This business woman continues to find new ways to give back</p>
					<%= link_to "View Article", "https://digital.modernluxury.com/publication/?i=462307&ver=html5&p=34#%7B%22page%22:34,%22issue_id%22:462307%7D", class: 'text-link', target: '_blank' %>
				</div>
			</div>

			<div class="event-li article">
				<%= image_tag 'press-11alive.png', class: 'img-responsive article-img', alt: 'Dana Spinola - Changing lives through clothes' %>
				<div class="textbox">
					<p class="pub">11alive</p>
					<h4>Changing lives through clothes: Nonprofit supports women in need with free shopping sprees</h4>
					<p class="desc">Free Fab'rik aims to change lives through clothes.</p>
					<%= link_to "View Article", "https://www.11alive.com/article/news/local/features/changing-lives-through-clothes-nonprofit-supports-women-in-need-with-free-shopping-sprees/85-592609812", class: 'text-link', target: '_blank' %>
				</div>
			</div>

		</div>
	</div>
</div>
