<% @page_title = "Press" %>
<% @page_description = "" %>


<div class="event-lay press">
	<div class="inside">
		<div class="title">
			<h1>Haute off the Press.</h1>

			<div class="btn-side">
				<%= link_to "Feature Dana", press_form_path, class: 'ds-link' %>
			</div>
		</div>
	</div>

	<div class="event-list">
		<div class="inside med-def">
			<!-- 7-11, 13-16 -->
				<!-- 08/21/18 : Carey Nieuwhof Leadership Podcast
				02/05/19 : Imagine More Podcast
				07/17/18 : Love or Work Podcast
				05/27/18 : CW Focus Atlanta

				03/22/18 : Launch Youniversity
				01/23/18 : On The Grind (Atlanta Tech Village Podcast)
				09/20/18 : Grind Pretty
				01/16/18 : CEO Exclusive Radio -->

			<!-- #1 -->
			<%= link_to "https://www.forbes.com/sites/jenniferdavis/2018/10/23/3_ways_to_harness_the_power_of_purpose_in_aligning_sales_and_marketing/#656164ed3617", class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-mainimg2.jpg', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">Forbes</p>
					<h4>3 Ways To Harness Power Of Purpose In Aligning Sales And Marketing</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>

			<!-- #2 -->
			<%= link_to "https://www.forbes.com/sites/toriutley/2018/01/30/how-one-atlanta-boutique-is-using-fashion-to-help-survivors-of-sex-trafficking/#173d2a1c4c2b", class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-mainimg.jpg', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">Forbes</p>
					<h4>How One Atlanta Boutique Is Using Fashion To Help Survivors Of Sex Trafficking</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>

			<!-- #3 -->
			<%= link_to 'https://www.forbes.com/sites/robertreiss/2018/01/16/five-great-american-entrepreneurs-you-havent-yet-heard-of-but-should-know/#ce825a755d71', class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-ph.jpg', class: 'img-responsive', alt: '' %>
				<div class="textbox">
					<p class="pub">Forbes</p>
					<h4>Five Great American Entrepreneurs You Haven't Yet Heard Of But Should Know</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>

			<!-- #4 -->
			<%= link_to "https://www.atl.com/skypointemagazine/", class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-skypointe.jpg', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">Skypointe Magazine</p>
					<h4>What is this title?</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>

			<!-- #5 -->
			<%= link_to 'https://digital.modernluxury.com/publication/?i=522504&ver=html5&p=60#{%22page%22:60,%22issue_id%22:522504}', class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'ml-jez.png', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">Modern Luxury</p>
					<h4>Wonder Woman</h4>
					<!-- <p class="sub">fab'rik's fab leading lady, Dana Spinola, shows us how she wears a hero piece three ways for the ultimate fall-style inspo.</p> -->
					<p class="text-link">View Article</p>
				</div>
			<% end %>

			<!-- #6 -->
			<%= link_to "https://digital.modernluxury.com/publication/?i=462307&ver=html5&p=34#%7B%22page%22:34,%22issue_id%22:462307%7D", class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-mainimg.jpg', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">Atlantan</p>
					<h4>Biz Whiz</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>


			<!-- #11 -->
			<%= link_to "https://www.ajc.com/blog/atlanta-restaurants/dining-with-the-stars-dana-spinola-favorite-atlanta-restaurants/DMtZMV8PTn4WHQbVnJAycL/", class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-ajc.jpg', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">AJC</p>
					<h4>Dining With the Stars: Dana Spinola’s favorite Atlanta restaurants</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>

			<!-- #12 -->
			<%= link_to "https://styleblueprint.com/atlanta/everyday/where-atlanta-boutique-owners-shop-around-town/", class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-mainimg2.jpg', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">StyleBlueprint</p>
					<h4>Where Atlanta Boutique Owners Shop Around Town</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>

			<!-- #17 Last -->
			<%= link_to "https://www.fsunews.com/story/news/2018/04/01/fabrik-founder-speaks-fsu-college-business/476100002/", class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-fsu.jpg', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">FSUNews.com</p>
					<h4>Fab’rik founder speaks at FSU College of Business</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>

			<!-- no number -->
			<%= link_to "https://atlanta.daybooknetwork.com/story/2018-10-16/54954-october-2018-atlanta-apparel/", class: 'event-li article', target: '_blank' do %>
				<%= image_tag 'press-ph.jpg', class: 'img-responsive article-img', alt: '' %>
				<div class="textbox">
					<p class="pub">Atlanta Daybook</p>
					<h4>October 2018 Atlanta Apparel Market Showcases Spring / Summer 2019 Trends</h4>
					<p class="text-link">View Article</p>
				</div>
			<% end %>
			
		</div>
	</div>
</div>
<!-- 
*** = worried about using ------
() = no image

	()
	AmericasMart: Featured Influencers Series 
		https://atlanta.daybooknetwork.com/story/2018-10-16/54954-october-2018-atlanta-apparel/
	
	***
	12/14/18 : Destination Skypointe Magazine
		https://www.atl.com/skypointemagazine/

	12/12/18 : AJC 
		https://www.ajc.com/blog/atlanta-restaurants/dining-with-the-stars-dana-spinola-favorite-atlanta-restaurants/DMtZMV8PTn4WHQbVnJAycL/

	10/23/18 : Forbes
		https://www.forbes.com/sites/jenniferdavis/2018/10/23/3_ways_to_harness_the_power_of_purpose_in_aligning_sales_and_marketing/#656164ed3617

	09/01/18 : Jezebel
		https://digital.modernluxury.com/publication/?i=522504&ver=html5&p=60#%7B%22page%22:%2260%22,%22issue_id%22:522504%7D

	06/22/18 : StyleBlueprint Atlanta
		https://styleblueprint.com/atlanta/everyday/where-atlanta-boutique-owners-shop-around-town/

	04/02/18 : FSView
		https://www.fsunews.com/story/news/2018/04/01/fabrik-founder-speaks-fsu-college-business/476100002/

	01/30/18 : Forbes
		https://www.forbes.com/sites/toriutley/2018/01/30/how-one-atlanta-boutique-is-using-fashion-to-help-survivors-of-sex-trafficking/#173d2a1c4c2b

	()
	01/16/18 : Forbes
		https://www.forbes.com/sites/robertreiss/2018/01/16/five-great-american-entrepreneurs-you-havent-yet-heard-of-but-should-know/#7bcca5c955d7

	01/01/18 : The Atlantan
		https://digital.modernluxury.com/publication/?i=462307&ver=html5&p=34#%7B%22page%22:34,%22issue_id%22:462307%7D -->