<% @page_title = "Speaking Packages & Information" %>
<% @page_description = "" %>



<div class="spk-info">
	<div class="spk-hd">
		<div class="inside med2-def">
			<div class="text">
				<h1>IGNITE YOUR <span>Passion.</span> FIND YOUR <span>Purpose.</span><br>LIVE LIFE WITH <span>Meaning.</span> </h1>

				<h2>Dana does these amazing things called "dream sessions." Dream sessions are about getting your team excited to dream big for your company or your cause. You decide the number of books you want, and Dana will come to your company or organization, and inspire your team.</h2>
			</div>
		</div>
		<div class="inside med-def"><%= image_tag('stage.jpg', class: 'img-responsive full-img', alt: '') %></div>
	</div>

	<div class="box-sec">
		<div class="inside med2-def">
			<div class="box one">
				<h4>Inspire.</h4>
				<div class="quote">
					<p>"When God nudges you, or flat out calls you by name, he's holding out a gift."</p>
				</div>
				<p>Description</p>
			</div>
			
			<div class="box two">
				<h4>Passion.</h4>
				<div class="quote">
					<p>"What would it feel like if what you loved to do, your passion, intersected with what the world needs, your purpose?"</p>
				</div>
				<p>Description</p>
			</div>

			<div class="box three">
				<h4>Heart.</h4>
				<div class="quote">
					<p>"Who you are is not an accident. What you are good at is not an accident. God created you for something amazing."</p>
				</div>
				<p>Description</p>
			</div>

			<div class="box four">
				<h4>Refuel.</h4>
				<div class="quote">
					<p>"What you <em>do</em> is not your job title; it's the good work you put into this world."</p>
				</div>
				<p>Description</p>
			</div>
		</div>
	</div>

	<!-- <div class="pkg-boxes">
		<div class="inside med2">
			<div class="package p1">
				<div class="dets">
					<h3 class="pk-title">Inspire</h3>
					<p>We need a description of what you get if you book the "Inspire" package. Some great details to include would be things like a speaking topic, price, time limit, number of people allowed, location, etc...</p>
				</div>

				<div class="image"><%= image_tag('pkg1.jpg', alt: '', class: 'img-responsive') %></div>
			</div>
			
			<div class="package p2">
				<div class="dets">
					<h3 class="pk-title">Dream</h3>
					<p>We need a description of what you get if you book the "Dream" package. Some great details to include would be things like a speaking topic, price, time limit, number of people allowed, location, etc...</p>
				</div>

				<div class="image"><%= image_tag('pkg2.jpg', alt: '', class: 'img-responsive') %></div>
			</div>

			<div class="package p3">
				<div class="dets">
					<h3 class="pk-title">Wow</h3>
					<p>We need a description of what you get if you book the "Wow" package. Some great details to include would be things like a speaking topic, price, time limit, number of people allowed, location, etc...</p>
				</div>

				<div class="image"><%= image_tag('reader.jpg', alt: '', class: 'img-responsive') %></div>
			</div>
			
			<div class="package p4">
				<div class="dets">
					<h3 class="pk-title">Heart</h3>
					<p>We need a description of what you get if you book the "Hustle" package. Some great details to include would be things like a speaking topic, price, time limit, number of people allowed, location, etc...</p>
				</div>

				<div class="image"><%= image_tag('pkg3.jpg', alt: '', class: 'img-responsive') %></div>
			</div>
		</div>
	</div> -->
</div>