<% @page_title = "Speaking Packages & Information" %>
<% @page_description = "" %>



<div class="spk-info">
	<div class="spk-hd">
		<div class="inside lg">
			<%= image_tag('speak-hd.jpg', class: 'img-responsive', alt: '') %> 
			<div class="text">
				<h1>Speaking Packages</h1>
				<h2>Take a look at the different packages Dana offers for speaking engagements. Interested in booking Dana to speak at an upcoming event? <%= link_to "Click here", new_request_path, class: 'text-link' %> to provide us with a few details.</h2>
			</div>
		</div>
	</div>

	<div class="pkg-boxes">
		<div class="inside med2">
			<div class="package p1">
				<div class="dets">
					<h3 class="pk-title">Inspire</h3>
					<p>We need a description of what you get if you book the "Inspire" package. Some great details to include would be things like a speaking topic, price, time limit, number of people allowed, location, etc...</p>
					<h4>50 books: 10% off order</h4>
				</div>

				<div class="image"><%= image_tag('pkg1.jpg', alt: '', class: 'img-responsive') %></div>
			</div>
			
			<div class="package p2">
				<div class="dets">
					<h3 class="pk-title">Dream</h3>
					<p>We need a description of what you get if you book the "Dream" package. Some great details to include would be things like a speaking topic, price, time limit, number of people allowed, location, etc...</p>
					<h4>100 books: 20% off order</h4>
				</div>

				<div class="image"><%= image_tag('pkg2.jpg', alt: '', class: 'img-responsive') %></div>
			</div>

			<div class="package p3">
				<div class="dets">
					<h3 class="pk-title">Wow</h3>
					<p>We need a description of what you get if you book the "Wow" package. Some great details to include would be things like a speaking topic, price, time limit, number of people allowed, location, etc...</p>
					<h4>250 books: 30% off order</h4>
				</div>

				<div class="image"><%= image_tag('reader.jpg', alt: '', class: 'img-responsive') %></div>
			</div>
			
			<div class="package p4">
				<div class="dets">
					<h3 class="pk-title">Hustle</h3>
					<p>We need a description of what you get if you book the "Hustle" package. Some great details to include would be things like a speaking topic, price, time limit, number of people allowed, location, etc...</p>
					<h4>1000 books: 40% off order</h4>
				</div>

				<div class="image"><%= image_tag('pkg3.jpg', alt: '', class: 'img-responsive') %></div>
			</div>
		</div>
	</div>
</div>