<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
  	<h1>Request to Feature Dana</h1>
		<p><b>Name:</b><br>
		<%= @feature.name %></p>

		<p><b>Email:</b><br>
		<%= @feature.email %></p>

		<p><b>Phone number:</b><br>
		<%= @feature.phone %></p>

		<p><b>Organization name:</b><br>
		<%= @feature.organization %></p>

		<p><b>Website link:</b><br>
		<%= @feature.link %></p>

		<p><b>Deadline:</b><br>
		<%= @feature.deadline %></p>

		<p><b>Feature type:</b><br>
		<%= @feature.feat_type %></p>

		<p><b>Feature details:</b><br>
		<%= @feature.details %></p>
	</body>
</html>