<%= render 'shared/errors', obj: @event %>
  <%= form_for(@event, :html => {class: "form-horizontal admin-form", role: "form" }) do |f| %>
  <fieldset>
   <!--  < if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    < end %> -->

    <% if flash[:alert] %>
      <div class="notice"><%= flash[:alert] %></div>
    <% end %>

    <p class="print">* indicates required field</p>
    <div class="clearfix"></div><hr>

		<!-- <div class="form-group type">
		  <label>* Event Type:</label><br>
		  <= f.select(:event_type) do %>
		    < [['Speaking', 'Speaking'], ['Book tour', 'Book tour']].each do |c| -%>
		      <= content_tag(:option, c.first, value: c.last) %>
		    < end %>
		  < end %>
		</div> -->

		<div class="form-group title">
		  <label>* Event Title:</label><br>
		  <%= f.text_field :title %> 
		</div>

		<div class="form-group date">
		  <label>* Date:</label><br>
		  <%= f.date_field :date %> 
		</div>

		<div class="form-group time">
		  <label>* Time:</label><br>
		  <%= f.text_field :time %> 
		</div>

		<div class="form-group location">
		  <label>* Location:</label><br>
		  <%= f.text_field :location %> 
		</div>

		<div class="form-group description">
		  <label>* Description:</label><br>
		  <%= f.text_area :description %> 
		</div>

		<div class="form-group price">
		  <label>Price:</label><br>
		  <%= f.text_field :price %> 
		</div>

		<div class="form-group link">
		  <label>Link:</label><br>
		  <%= f.text_field :link %> 
		</div>

		<div class="form-group image">
		  <label>Image:</label><br>
		  <div class="image-box">
			  <%= f.file_field :image %>

			  <% unless @event.new_record? %>
					<% if @event.image.attached? %>
						<div class="current">
							<p class="tsmall">Current Image:</p>
						  <div class="thumb"><%= image_tag @event.image %></div>
							<%= link_to '[ Remove image ]', delete_image_attachment_event_url(@event), class: 'rmv-img',
		                method: :delete,
		                data: { confirm: 'Are you sure you want to delete this image?' } %>
	          </div>
					<% end %>
				</div>
	    <% end %>
		</div>

		<div class="form-group extras">
		  <label>Extra Info:</label><br>
		  <%= f.text_area :extras %> 
		</div>

    <div class="form-group honey">
      <%= label_tag :honey %>
      <%= f.text_field :honey %>
      <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
    </div>

    <div class="form-group submit">
      <%= f.submit "Submit", :class=> "send-message" %>
    </div>

  </fieldset>
<% end %>