<% @page_title = "Upcoming Events" %>
<% @page_description = "" %>


<div class="full-sec">
	<div class="inside med">
		<h1 class="text-center"><%= @page_title %></h1>
		<% if user_signed_in? && current_user.admin? %>
	    <button class="admin-uk wl-uk uk-float-right" type="button"><span  uk-icon="icon: settings;"></span></button>
	    <div uk-dropdown="mode: click; pos: bottom-right; boundary: .wl-uk;">
				<%= link_to "Create New Event", new_event_path, class: 'ds-link' %>
	    </div>
		<% end %>
		<div class="clearfix"></div>
		<hr>

		<% @events.each do |event| %>
			<div class="event-li event-<%= event.id %>">
				<% if event.image.attached? %>
				  <%= image_tag event.image, alt: "#{event.title}"%>
				<% end %>

				<%= link_to event_path(event), class: 'textbox' do %>
					<h4><%= event.title %></h4>
					<p><%= event.date %> &nbsp; | &nbsp; <%= event.time %></p>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

