<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
  	<h1>Request to Book Dana</h1>
    <h3>Personal Information:</h3>
		<hr>
		<p><b>Name:</b><br>
		<%= @request.name %></p>

		<p><b>Email:</b><br>
		<%= @request.email %></p>

		<p><b>Phone number:</b><br>
		<%= @request.phone %></p>

		<p><b>Organization name:</b><br>
		<%= @request.org_name %></p>

		<hr>
		<h3>Event Information:</h3>
		<hr>
		<p><b>Event name:</b><br>
		<%= @request.event_name %></p>

		<p><b>Location:</b><br>
		<%= @request.event_location %></p>

		<p><b>Event date:</b><br>
		<%= @request.event_date %></p>

		<p><b>Event time:</b><br>
		<%= @request.event_time %></p>

		<p><b>Link to event:</b><br>
		<%= @request.event_link %></p>

		<p><b>Audience:</b><br>
		<%= @request.audience %></p>

		<p><b>Audience size:</b><br>
		<%= @request.aud_size %></p>

		<p><b>Speaking format:</b><br>
		<%= @request.event_type %></p>

		<p><b>Speaker budget:</b><br>
		<%= @request.honoriam %></p>

		<p><b>Other event details:</b><br>
		<%= @request.comments %></p>
	</body>
</html>