<% @page_title = "Book Dana for Your Event" %>
<% @page_description = "" %>

<div class="booking-info">
	<div class="bi-head">
		<div class="inside lg">
			<%= image_tag('speak-hd.jpg', class: 'img-responsive', alt: '') %>

			<div class="text">
				<h1>Interested in Booking Dana?</h1>
				<h2>Fill out the form below, and someone from our team will contact you as soon as possible.</h2>
			</div>
		</div>
	</div>

	<div class="form-section">
		<div class="inside med2-def">
			<%= render 'form' %>
		</div>
	</div>

	<div id="past" class="past-events">
		<div class="inside">
			<div class="image"><%= image_tag('video-shot.png', class: 'img-responsive', alt: '') %></div>

			<div class="list">
				<h4>Past Speaking Events </h4>
				<hr>
				<%= link_to "AmericasMart: Featured Influencers Series ", "https://atlanta.daybooknetwork.com/story/2018-10-16/54954-october-2018-atlanta-apparel/", target: '_blank', class: 'pevent' %>
					
				<%= link_to "Plywood Presents ", "https://www.youtube.com/watch?v=H3gJtV6Cy-0", target: '_blank', class: 'pevent' %>
					
				<%= link_to "UGA 40 Under 40", "https://drive.google.com/file/d/17gbdCYUg52ZKprBNeSqf7m1-L71bSUWq/view", target: '_blank', class: 'pevent' %>
					
				<%= link_to '"Imagine If" Innovation Conference', "https://drive.google.com/file/d/1nCIhXMid3IAVCn7XAEvBMMPxK8lTLVR3/view", target: '_blank', class: 'pevent' %>

				<!-- CARE for AIDS Matrix Residential INSPIRE Retreat -->

				<h4>Podcasts</h4>
				<hr>
					<%= link_to "Carey Nieuwhof Leadership Podcast", "https://careynieuwhof.com/episode208/", target: '_blank', class: 'pevent' %>

					<%= link_to "Imagine More", "https://www.imaginemorepodcast.com/episodes/dana-spinola", target: '_blank', class: 'pevent' %>

					<%= link_to "Launch Youniveristy", "https://launchyouniversity.com/podcast/069-when-passion-and-heart-lead-the-way-dana-spinola-of-fabrik/", target: '_blank', class: 'pevent' %>

					<%= link_to "CEO Exclusive Radio", "http://www.ceoexclusiveinsights.com/fabrik/", target: '_blank', class: 'pevent' %>

					<%= link_to "Love or Work", "https://simplecast.com/s/168bffc8 ", target: '_blank', class: 'pevent' %>
			</div>
		</div>
	</div>
</div>

