<% @page_title = "User Account" %>
<% @page_description = "New Description" %>
<div class="admin-account">
	<div class="ipage-header">
		<div class="inside text-center">
			<h1 class="bmargin0">Hi, <%= current_user.email %></h1>
			<h2 class="tmargin0">Welcome to your account</h2>
			<hr>
		</div>
	</div>


	<div class="full-sec">
		<div class="inside med-def">
			<div class="left">
				<h4>Account Info</h4>
				<h3><%= link_to "Edit account info", edit_user_registration_path %></h3>
				<h3><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></h3>
			</div>

			<div class="right">
				<h4>Articles</h4>
				<h3><%= link_to "Add a new article", new_article_path %></h3>
				<h3><%= link_to "View/Edit articles", articles_path %></h3>
				
				<hr>
				<h4>Past Events</h4>
				<h3><%= link_to "Add a new past event", new_archive_path %></h3>
				<h3><%= link_to "View/Edit past events", archives_path %></h3>
			</div>
		</div>
	</div>
</div>

	<!-- <h4>Events</h4>
	<p style="margin-top:5px;">These are for new/upcoming events and are not showing on the website.</p>
	<h3><= link_to "Add a new event", new_event_path %></h3>
	<h3><= link_to "View/Edit events", events_path %></h3> -->