<footer>
	<div class="top-foot">
		<div class="inside">
			<div class="border-row"></div>
			
			<div class="ft-block one">
				<h4>Speaking.</h4>
				<ul>
					<li><%= link_to "Request Dana", speaking_path %></li>
					<li><%= link_to "Past Events", past_events_path %></li>
					<li><%= link_to "Messages", speaking_info_path %></li>
				</ul>
			</div>

			<div class="ft-block two">
				<h4>Book.</h4>
				<ul>
					<li><%= link_to "About the Book", love_what_you_do_path %></li>
					<li><%= link_to "Buy the Book", 'https://fabrikstyle.com/products/love-what-you-do', target: '_blank' %></li>
				</ul>
			</div>

			<div class="clearfix mobile"></div>

			<div class="ft-block three">
				<h4>About.</h4>
				<ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Press", press_path %></li>
          <li><%= link_to "Feature Dana", feature_dana_path %></li>
				</ul>
			</div>

			<div class="ft-block four">
				<h4>Heart.</h4>
				<ul>
					<li class="fab"><%= link_to(image_tag('fabrik.png', alt: "fab'rik logo", class: 'nav-fab'), '/fab', target: '_blank') %></li>
					<li><%= link_to "free fab'rik", '/ff', target: '_blank', class: 'norm' %></li>
					<li><%= link_to "Asher", '/asher', target: '_blank' %></li>
				</ul>
			</div>

			<div class="clearfix mob"></div>
			<div class="ft-block soc">
				<h4>Subscribe.</h4>
				<ul class="social"><%= render 'shared/social' %></ul>
				<div class="clearfix"></div>
				<p>Receive inspo, access to insider perks, and more. </p>
				<!-- <div class="clearfix"></div> -->

				<!-- Begin Mailchimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
				<div id="mc_embed_signup">
					<form action="https://fabrikstyle.us9.list-manage.com/subscribe/post?u=7ee7573a2bfbcb20728257207&amp;id=b26eebfc72" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="EMAIL" required>
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7ee7573a2bfbcb20728257207_b26eebfc72" tabindex="-1" value=""></div>
					    <!-- <div class="clear"> -->
					    	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
					    <!-- </div> -->
				    </div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
			
			<!-- <div class="ft-block icons"> -->
			<!-- </div> -->
		</div>
	</div>

	<div class="btm-foot">
		<div class="inside xl">
			<div class="copy"><p>Copyright <%= Time.now.year %> Dana Spinola. All rights reserved. </p></div>
			<div class="hs"><p>Design by <%= link_to "High Seas Design House.", 'https://hsdesignhouse.com', target: '_blank' %> </p></div>
		</div>
	</div>
  <a href="#" class="scroll-up"></a>
</footer>
